@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  @apply bg-zinc-50 text-zinc-900 antialiased selection:bg-amber-100 selection:text-amber-900;
}

/* Custom hide scrollbar for horizontal lists */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
